# Import library

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv("comp_name.csv")
df[1:]

,Sr. No.,Symbol,Company Name,market_cap
1,2,TCS,Tata Consultancy Services Limited,68522297.0
2,3,HINDUNILVR,Hindustan Unilever Limited,49758412.0
3,4,HDFCBANK,HDFC Bank Limited,47248232.0
4,5,HDFC,Housing Development Finance Corporation Limited,28235708.0
5,6,INFY,Infosys Limited,27320750.0
...,...,...,...,...
92,96,GLAXO,GlaxoSmithKline Pharmaceuticals Limited,2130111.0
93,97,3MINDIA,3M India Limited,2120982.0
94,98,PEL,Piramal Enterprises Limited,2119007.0
95,99,KANSAINER,Kansai Nerolac Paints Limited,2088044.0
96,100,ADANITRANS,Adani Transmission Limited,2079191.0